<ion-content class="greenBG"> 
  <ion-img src="../assets/header.png"></ion-img>
  <form [formGroup]="forgetPasswordForm" (ngSubmit)="onSubmit()">
    <ion-grid>
        <ion-row>
            <ion-col size="12">
                <ion-item class="input-deco" margin>
                    <ion-label position="floating">Usuario</ion-label>
                    <ion-input type="text" name="username" value='' formControlName="username" required></ion-input>
                </ion-item>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="12">
                <ion-item class="input-deco" margin>
                    <ion-label>Por favor completa todos los campos para ingresar</ion-label>
                    <ion-select value="brown" okText="Okay" cancelText="Dismiss" padding formControlName="site">
                    <ion-select-option value="https://csi.unityfit.co">CSI</ion-select-option>
                    <ion-select-option value="https://unitycomercial.unityfit.co">Unity Comercial</ion-select-option>
                    <ion-select-option value="https://ambev.unityfit.co">Ambev</ion-select-option>
                    <ion-select-option value="https://telus.unityfit.co">Telus 1</ion-select-option>
                    <ion-select-option value="https://telus2.unityfit.co">Telus 2</ion-select-option>
                    <ion-select-option value="https://siemens.unityfit.co">Siemens</ion-select-option>
                    <ion-select-option value="https://unitypromotores.unityfit.co">Unity Promotores</ion-select-option>
                    <ion-select-option value="https://duwest.unityfit.co">Duwest</ion-select-option>
                    <ion-select-option value="https://seguroscofal.unityfit.co">Seguros Cofal</ion-select-option>
                    <ion-select-option value="https://centrarse.unityfit.co">Centrarse</ion-select-option>
                    </ion-select>
                </ion-item>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="12">
                <ion-button expand="block" class="loginButton" type="submit"> Restablecer contraseña </ion-button>
            </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12" class="ion-margin-top">
              <div class="ion-text-center color-white">
                  <a routerLink ="/login">Login</a>
              </div>
          </ion-col>
      </ion-row>
    </ion-grid>

  </form>
     
</ion-content>