ion-content{
    --ion-background-color: linear-gradient(30deg, #A0C147 0%, #00C2BC 100%);
    --ion-background-color: -moz-linear-gradient(30deg, #A0C147 0%, #00C2BC 100%);
    --ion-background-color: -webkit-linear-gradient(30deg, #A0C147 0%, #00C2BC 100%);
    //--background: url('../../../assets/homebackground.jpg') 0 0/100% 100% no-repeat;
}

ion-item {
   --background:transparent;
   --border-color:white;
   --highlight-color-focused: white;
   color:white;
   margin:10px;
 }

 .item-has-focus .label-floating.sc-ion-label-md-h{
   color:white;
   //color:linear-gradient(-60deg, #ff5858 0%, #f09819 100%);
 }

 .loginButton {
   --background: linear-gradient(-60deg, #ff5858 0%, #f09819 100%);
   height:50px;
}

.color-white{
   color:white;
}

a{
    color:white;
    text-decoration: none;
  }
  a:hover 
  {
    text-decoration: underline;
  }