.welcome-card img {
  max-height: 35vh;
  overflow: hidden;
}

ion-header{
  --ion-background-color:  #00C2BC;
  //--ion-background-color: linear-gradient(130deg, #A0C147 0%, #00C2BC 100%);
  //--ion-background-color: -moz-linear-gradient(130deg, #A0C147 0%, #00C2BC 100%);
  //--ion-background-color: -webkit-linear-gradient(130deg, #A0C147 0%, #00C2BC 100%);
}

ion-content{
  // --ion-background-color: linear-gradient(30deg, #A0C147 0%, #00C2BC 100%);
  // --ion-background-color: -moz-linear-gradient(30deg, #A0C147 0%, #00C2BC 100%);
  // --ion-background-color: -webkit-linear-gradient(30deg, #A0C147 0%, #00C2BC 100%);
}
ion-title {
  color:white;
}

.make-center
{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
 svg{
  #text {
    transform: translate(90, 85.8) !important
  }
  .sub-text {
    transform: translate(90, 100) !important
  }
 }
}

.bottomInfoSection {
  display: flex;
  color: #00c2bc;
  justify-content: space-around;
  align-items: flex-end;
  height:32%;
  .rightBottomNum,.rightBottomText
  {
    text-align: center;
  }
  fa-icon
  {
   font-size:40px;
  }
 }
 .goalText {
  color: #00c2bc;
}
