<ion-header>
  <ion-toolbar>
    <ion-title>
      Hoy
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="make-center">
    <ngx-knob [value]="value" [options]="knOptions"></ngx-knob>
  </div>
  <div class="ion-text-center goalText">{{goalTextMessage}}</div>

  <div class="bottomInfoSection">
    <div class="bottom1">
        <fa-icon [icon]="faShoePrints"></fa-icon>
        <div class="rightBottomNum">{{todayDistance || 0}}</div>
        <div class="rightBottomText">Metros</div>
    </div>
    <div class="bottom2">
        <fa-icon [icon]="faFire"></fa-icon>
        <div class="rightBottomNum">{{todayCalories || 0}}</div>
        <div class="rightBottomText">Kcal</div>
    </div>
    <div class="bottom3">
        <fa-icon [icon]="faWeight"></fa-icon>
        <div class="rightBottomNum">{{weight || 0}}</div>
        <div class="rightBottomText">Peso</div>
    </div>
</div>
</ion-content>
